<article>
  <div class="image-container">
    <img [src]="character.image" [alt]="character.name" />
  </div>
  <div class="info-container">
    <section class="info-section">
      <a [routerLink]="['/character', character.id]">
        <h2>{{ character.name }}</h2></a
      >
      <span class="status-container">
        <span class="{{ character.status }} status"></span>
        <span>{{ character.status }} - {{ character.species }}</span>
      </span>
    </section>
    <section class="info-section">
      <span class="sub-title">Last known location:</span>
      <a href="#">{{ character.origin.name }}</a>
    </section>
    <section class="info-section">
      <span class="sub-title">First seen in:</span>
      <a href="#">{{ episode?.name }}</a>
    </section>
  </div>
</article>
