<main *ngIf="character$ | async as character">
  <div class="image-container">
    <img [src]="character.image" [alt]="character.name" />
  </div>
  <div class="info-container">
    <section>
      <a>
        <h2>{{ character.name }}</h2></a
      >
      <span class="status-container">
        <span class="{{ character.status }} status"></span>
        <span>{{ character.status }} - {{ character.species }}</span>
      </span>
    </section>
    <section>
      <span class="sub-title">Origin: </span>
      <a [routerLink]="['/location', character.origin.url.slice(41, 43)]">{{
        character.origin.name
      }}</a>
    </section>
    <section>
      <span class="sub-title">Last known location: </span>
      <a [routerLink]="['/location', character.location.url.slice(41, 43)]">{{
        character.location.name
      }}</a>
    </section>
    <section>
      <span class="sub-title">Episodes: </span>
      <ul>
        <li *ngFor="let episode of episode$ | async">
          <a [routerLink]="['/episode', episode.id]">
            {{ episode.id }}. {{ episode.name }}
          </a>
        </li>
      </ul>
    </section>
  </div>
</main>
